* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo Bhaijaan 2", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");

h1,
h2 {
  color: rgb(24, 24, 24);
}

h2 {
  font-size: 2rem;
}

h4 {
  color: rgb(129, 129, 129);
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 10%;
}

@import "./player";
@import "./song";
@import "./library";
@import "./nav";
